@charset "UTF-8";
@import url(style_Reset.css);

/* div#wrap  */
div#wrap {
  width: 1160px;
  margin: 0 auto;
}

/* div#wrap  */

/* header#header */
header#header > h1 {
  text-align: center;
  margin: 30px 0;
}
/* header#header */

/* nav#gnb */
nav#gnb ul#mainMenu {
  margin: 20px 0;
  justify-content: center;
}
nav#gnb #mainMenu a {
  color: #111;
  font-size: 14px;
}
nav#gnb #mainMenu a:hover {
  font-weight: bold;
}
nav#gnb #mainMenu span {
  width: 1px;
  height: 14px;
  border-right: 1px solid #111;
  margin: 0 20px;
  margin-top: 3px;
  display: inline-block;
}
/* nav#gnb */

/* main#main */
main#main {
  padding: 6px;
  border: 1px solid #000;

  justify-content: space-between;
}

#main > div {
  border: 1px solid #000;
}

#main > div#goodsList {
  width: 690px;
  border: 1px solid #000;
  justify-content: space-between;
  flex-wrap: wrap;
}
#main > #goodsList > table.goodsInfo {
  width: 220px;
  text-align: center;
  border: 1px solid #000;
  margin-bottom: 20px;

  border-collapse: collapse;
}

#main > #goodsList > table.goodsInfo td {
  border: 1px solid #000;
}

#main > #goodsList tr.goodsName td {
  font-size: 13px;
  line-height: 17px;
}

#main > #goodsList tr.goodsName span {
  color: #a57c50;
  font-size: 14px;
  font-weight: bold;
}

#main > #goodsList tr.goodsPrice span {
  color: #138e85;
  font-size: 22px;
  font-weight: bold;
}

#main > #goodsList tr.goodsPrice > td::after {
  content: "원";
  color: #138e85;
  font-weight: bold;
  margin-left: 3px;
}
/* 슈도 엘리먼트  */
/* main#main */
